.card-img-top{
    margin-left:41px;
}
.card-title{
  font-size:25px;
}
.card-text{
  font-size: 15px;
}
img{
    height:130px;
    width: 250px;
    margin-left:100px;
    display: flex;
    justify-content: center;
    text-align: center;

}
h6{   
    display: flex;
  justify-content: center;
  text-align: center;
}
h5{    
    display: flex;
  justify-content:center;
  text-align: center;
}
#but{
  justify-content: center;
}